@font-face {
  font-family: 'Iosevka';
  src: url('assets/Iosevka.ttf');
}

body {
  font-family: 'Iosevka', monospace;
  font-size: 20px;
  background-color: #0F0F12;
  width: 670px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
  overflow-y: hidden;
}

h1 {
  font-weight: normal;
  color: #FEFFFA;
  text-align: center;
}

#dots,
.main {
  text-align: center;
}

.flair {
  color: #0972D6;
}

.main {
  display: inline-block;
  border: 5px solid #18181D;
  position: relative;
  bottom: 35%;
  width: 770px;
  height: 600px;
  right: 30%;
  margin: auto;
  background-color: #18181D;
}

.image-wrapper {
  border: 5px solid #18181D;
  position: absolute;
  top: -5px;
  left: 770px;
  width: 300px;
  height: 600px;
  background: #18181D center / cover no-repeat;
}

img {
  width: 300px;
  height: 600px;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.codes {
  color: #FFFFFF;
  font-family: 'Iosevka', monospace;
  font-size: 18px;
  position: absolute;
  top: 565px;
  left: 12px;
}

nav {
  display: inline-block;
  color: #BFBFBF;
  font-size: 20px;
  margin: 0 auto;
}

ul {
  display: table-cell;
  text-align: center;
  padding: 10px 25px;
  list-style: none;
  border-right: 1px solid #232328;
  transition: 0.8s;
  cursor: default;
}

ul:last-of-type {
  border-right: none;
}

ul:hover {
  color: #FFFFFF;
}

li {
  margin: 10px 0;
}

ul>li:first-of-type {
  padding-top: 5px;
}

ul>li>a {
  text-decoration: none;
  color: #9b9b9b;
  transition: color 0.8s;
}

ul.green>li>a:hover {
  color: #4FAE0F;
}

ul.blue>li>a:hover {
  color: #0972D6;
}

ul.red>li>a:hover {
  color: #ed3434;
}

ul.yellow>li>a:hover {
  color: #edd934;
}

.nav-title {
  font-size: 22px;
  font-weight: bold;
  cursor: default;
}