@font-face {
  font-family: 'Iosevka';
  src: url('assets/Iosevka.ttf');
}

body {
  font-family: 'Iosevka', monospace;
  font-size: 20px;
  background-color: #0F0F12;
  background-image: url("img/");
  background-repeat: repeat;
  width: 670px;
  height: 320px;
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
}

h1 {
  font-weight: normal;
  color: #FEFFFA;
  text-align: center;
}

.flair {
  color: #0972D6;
}

.main {
  display: inline-block;
  border: 1px solid #232328;
  position: relative;
  top: -100px;
  width: 770px;
  height: 600px;
  left: -200px;
  margin: auto;
  background-color: #18181D;
  text-align: center;
}

.image-wrapper {
  border: 1px solid #232328;
  position: absolute;
  top: -1px;
  width: 300px;
  height: 600px;
  left: 770px;
  background-color: #18181D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  top: -1px;
  width: 300px;
  height: 600px;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 575px;
  right: 10px;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 50%;
  transition: 0.6s ease;
  user-select: none;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

.codes {
  color: #FFFFFF;
  font-family: 'Iosevka', monospace;
  font-size: 18px;
  position: absolute;
  top: 565px;
  left: 12px;
}

li {
  margin: 10px 0;
}

nav {
  display: inline-block;
  vertical-align: middle;
  color: #BFBFBF;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

ul {
  display: table-cell;
  text-align: center;
  height: 100%;
  padding: 10px 25px;
  list-style-type: none;
  border-right: 1px solid #232328;
  transition: color 0.8s;
  cursor: default;
}

ul:last-of-type {
  border-right: none;
}

ul:hover {
  color: #FFFFFF;
}

ul>li:first-of-type {
  padding-top: 5px;
}

ul>li>a {
  text-decoration: none;
  color: #adadad;
  transition: color 0.8s;
}

ul.green>li>a:hover {
  color: #4FAE0F;
}

ul.blue>li>a:hover {
  color: #0972D6;
}

ul.red>li>a:hover {
  color: #ed3434;
}

ul.yellow>li>a:hover {
  color: #edd934;
}